{% extends 'base.html.twig' %}

{% block title %}Colbert support - Accueil{% endblock %}

{% block body %}
    <div class="grid">
        <div class="container mt-5">
            <div class="row col-md-12 g-4">
                {% for categorie in  categories %}
                <div class="col-md-6 card-deck">
                    <div class="card mb-3">
                        <img src="{{ asset ('img/img'~loop.index~'.jpg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ categorie.name }}</h5>
                            <p class="card-text">{{ categorie.description }}</p>
                        </div>
                        <div class="card-footer "><a class="btn btn-primary" href="{{ path('panne',{'id':categorie.id}) }}" role="button">Link</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
